<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - UFO BookStore Online</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("UFO BookStore", "Index", "BookProduct")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <section class="featured">
                            <div class="content-wrapper">
                                <div style="width:960px;">
                                    <hgroup class="title">
                                        <ul id="menu">
                                            <li>@Html.ActionLink("類別代碼設定", "CategorySettingIndex", "CategorySetting")</li>
                                            <li>@Html.ActionLink("供應商資料設定", "ProviderIndex", "Provider")</li>
                                            <li>@Html.ActionLink("採購進貨管理", "PurchaseTitleIndex", "Purchase")</li>
                                            <li>@Html.ActionLink("庫存商品管理", "ProductIndex", "Product")</li>
                                            <li>@Html.ActionLink("訂單管理", "OrderIndex", "Order")</li>
                                            <li>@Html.ActionLink("帳戶管理", "ManagerIndex", "Manager")</li>
                                        </ul>
                                    </hgroup>
                                </div>
                            </div>
                        </section>                        
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p style="width:960px;text-align:center;">&copy; @DateTime.Now.Year - UFO BookStore Online, a ASP.NET MVC 應用程式 by Lin [以上資料僅供測試之用，無任何商業用途]</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
