@model List<BookStore.Models.Product>
@using BookStore.Helpers;
@using System.Text;

@section featured {
    <section class="featured">
        <div class="content-wrapper"></div>
    </section>
}


<table align="center" style="width:720px; margin-left:150px;">
    <tr>
        <td colspan="9" style="border:1px solid transparent;text-align:left;">@Html.ActionLink("新增商品資料", "ProductCreate")</td>
    </tr>
    <tr style="background-color:#dfe3e6;">
        <td colspan="9" style="border:1px solid transparent;text-align:left;">
        @using(Html.BeginForm())
        {
            @:搜尋商品：
            @Html.DropDownList("CategoryId", (SelectList)ViewData["categoryList"], "--商品類別--", new { style = "width:120px;" })            
            @Html.DropDownList("ProviderId", (SelectList)ViewData["providerList"], "--供應商--")
            @Html.DropDownList("OnSale", (IEnumerable<SelectListItem>)ViewData["onsaleList"], "--上下架--", new { style = "width:100px;" })
            @Html.DropDownList("TimeValue", (IEnumerable<SelectListItem>)ViewData["timevalueList"], "--期限內商品--", new { style = "width:120px;" }) 
            <input type="submit" value="確定" />
        }
        </td>
    </tr>
    <tr>
        <td colspan="9" style="text-align:left;"><h3>商品資料設定-列表</h3></td>
    </tr>
    <tr style="background-color:#000; color:#ada6a6;">
        <td style="width:20px; text-align:center;"></td>
        <td style="width:230px;">商品名稱</td>
        <td>成本</td>
        <td>售價</td>
        <td>標準庫存</td>
        <td>庫存</td>
        <td>上架</td>
        <td style="white-space:nowrap;">建檔日期</td>
        <td style="width:120px; text-align:center;">編輯</td>
    </tr>
    <tbody id="content-list">
        @if (!Model.Count.Equals(0))
        {
            foreach(var item in Model)
            {
                if(item.OnSale.Equals("Y"))
                {
                    @:<tr>
                }
                else
                {
                    @:<tr style="background-color:#ada6a6;color:#fff;">
                }               
                    <td>@item.ProductId</td>
                    <td style="text-align:left;">@item.Name</td>
                    <td>@item.Cost</td>
                    <td>@item.Price</td>
                    <td>@item.StandardStock</td>
                    <td>@item.Stock</td>
                    <td>@item.OnSale</td>
                    <td>@String.Format("{0}", item.CreatedOn.ToShortDateString())</td>
                    <td>
                        @Html.ActionLink("修改", "ProductEdit", new { productId = item.ProductId })
                        @Html.ActionLink("內容", "ProductDetail", new { productId = item.ProductId })
                    </td>
                @:</tr>
            }
        }
        else
        { 
            <tr><td colspan="9">目前沒有資料</td></tr>
        }
    </tbody>
    <tr>
        <td colspan="9" style="border:1px solid transparent;padding:0;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9" style="border:1px solid transparent;padding:0;">
            <table align="center" style="border:0px;font-size:12px;width:100%;">
                <tr>
                    @if (ViewBag.Paging.NowPage > 1)
                    {
                        <td style="border:1px solid #808080;background-color:#b4b9bd;">@Html.ActionLink("第一頁", "GetPage", new { curPage = 1 })</td>
                        <td style="border:1px solid #808080;background-color:#b4b9bd;">@Html.ActionLink("前一頁", "GetPage", new { curPage = (ViewBag.Paging.NowPage - 1) })</td>
                    }
                    else
                    {
                        <td style="border:1px solid #808080;background-color:#b4b9bd;color: #808080;">第一頁</td>
                        <td style="border:1px solid #808080;background-color:#b4b9bd;color: #808080;">上一頁</td>
                    }
                    <td style="border:1px solid #808080;width:300px;">
                    @for (var page = (ViewBag.Paging.NowPage - 6); page < (ViewBag.Paging.NowPage + 6); page++)
                    {
                        if (page > 0 && page <= ViewBag.Paging.MaxPage)
                        {
                            if (page == ViewBag.Paging.NowPage)
                            {
                                <b><span style="color:#72a1d0;">@page</span></b>
                            }
                            else
                            {
                                string pageStr = page.ToString();
                                @Html.ActionLink(pageStr, "GetPage", new { curPage = page })
                            }
                        }
                    }
                    </td>
                    @if (ViewBag.Paging.NowPage < ViewBag.Paging.MaxPage)
                    {
                        <td style="border:1px solid #808080;background-color:#b4b9bd;">@Html.ActionLink("下一頁", "GetPage", new { curPage = (ViewBag.Paging.NowPage + 1) })</td> 
                        <td style="border:1px solid #808080;background-color:#b4b9bd;">@Html.ActionLink("最後一頁", "GetPage", new { curPage = ViewBag.Paging.MaxPage })</td>
                    }
                    else
                    {
                        <td style="border:1px solid #808080;background-color:#b4b9bd;color: #808080;">下一頁</td>
                        <td style="border:1px solid #808080;background-color:#b4b9bd;color: #808080;">最後一頁</td>
                    }
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="9" style="border:1px solid transparent;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9" style="border:1px solid transparent;color:#4d6a75;text-align:left;">* 底色標示灰色者，目前不進行供貨服務。</td>
    </tr>
</table>
<br />
<br />
<br />
<div style="position:absolute; top:145px; left:200px; border-right:1px solid; height:200px;">
    <table style="border:0px;">
        <tr><td style="border-left:0px; border-top:0px; border-right:0px; border-bottom:1px solid;"><h4>庫存商品管理</h4></td></tr>
        <tr><td style="border:0px; background-color:#8ebce1;">@Html.ActionLink("商品資料設定", "ProductIndex")</td></tr>
        <tr><td style="border:0px;">&nbsp;</td></tr>
        <tr><td style="border:0px;">&nbsp;</td></tr>
    </table>
</div>

